<label>Registerd Number</label>
<input type="text" [(ngModel)]="registerdNumber" placeholder="Enter Registerd Number">  
<label>Registerd Year</label>
<input type="text" [(ngModel)]="registerdYear" placeholder="Enter Year">
<br>
<label>Vehicle Brand</label>
<input type="text" [(ngModel)]="brand" placeholder="Enter Brand">
<br>
<label>Model Name</label>
<input type="text" [(ngModel)]="ModelName" placeholder="Enter Model Name">
<br>
<label>Model Color</label>
<input type="text" [(ngModel)]="modelColor" placeholder="Enter Color">
<br>
<label>Model Year</label>
<input type="text" [(ngModel)]="modelYear" placeholder="Enter Year">
